# Run this faster because it can run on container based infra.
language: node_js
node_js:
  - 4
  - 5
  - 6
script:
  - npm run coverage
after_script:
  - ./node_modules/.bin/coveralls < ./coverage/lcov.info
